@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  background: #e5e5e5;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 8vh;
  background: #fff;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}

.logo-placeholder a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(58, 74, 219);
  background-color: #fff;
  padding: 0;
  text-decoration: none;
}

.nav-items {
  display: none;
}

#hamburger-icon {
  display: block;
  margin: auto 0;
  cursor: pointer;
  z-index: 999;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: #3a4adb;
  margin: 5px 0;
  transition: 0.3s;
}

.social-media a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(58, 74, 219);
  text-decoration: none;
  background-color: #fff;
}

.social-media-icons ul {
  list-style-type: none;
  padding: 0;
  padding-top: 12px;
}

.social-media-icons li {
  display: inline;
  padding-right: 16px;
}

.client-frame li {
  display: inline;
  padding: 20px 0;
}

.skills-list li {
  list-style: none;
}

.contact-form li {
  margin-bottom: 20px;
}

.popup-client-frame li {
  display: inline;
  padding: 20px 0;
}

.popup-tags li {
  display: inline;
  padding: 5px 12px;
  margin-right: 10px;
  color: rgb(58, 74, 219);
  background: #dedee4;
  border-radius: 8px;
  list-style: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  height: 100%;
  width: 100%;
}

.mobile-menu a {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.tags li {
  display: inline;
  padding: 5px 12px;
  margin-right: 10px;
  color: rgb(58, 74, 219);
  background: #dedee4;
  border-radius: 8px;
  list-style: none;
}

.mobile-menu li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #6070ff;
  mix-blend-mode: normal;
  opacity: 90%;
  position: fixed;
  gap: 25px;
  padding: 70px 0 0 20px;
  z-index: -1;
}

.open #bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open #bar2 {
  opacity: 0;
}

.open #bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);

  /* -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
}

/* ==========================================Finished Header Section====================================== */

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0 0 0 100px;
  width: 100%;
  height: 100%;
  padding: 200px 20px 300px 40px;
  background-image: url("../img/headline-mobile-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 50px;
  background-attachment: scroll;
  position: relative;
}

.headline .content {
  width: 100%;
  height: 100%;
}

.headline .primary-txt {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headline .detail-txt {
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.rotate-icons path:hover {
  transform: rotate(10deg);
}

.works {
  display: grid;
  grid-template-rows: repeat(4, 25%);
  align-items: center;
  padding: 115px 25px;
  gap: 85px;
  width: 100%;
  height: 100%;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 15px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshoot-portfolio {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.snapshoot-portfolio img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
}

.snapshoot-portfolio:hover {
  transform: scale(1.06);
  transition: 0.4s;
}

.left-block {
  display: flex;
  flex-direction: column;
}

.left-block .project-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
  padding: 0 15px;
}

.client-frame ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #737578;
  background-color: #fff;
}

.solid-circle {
  font-size: 20px;
  color: rgb(209, 209, 209);
}

.client-frame .client-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  background-color: #fff;
}

.client-frame h3 {
  padding: 0;
  display: inline;
}

.client-frame span {
  padding: 0 16px;
}

.left-block .detail-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding: 12px 16px;
}

.tags {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 15px;
}

.popup-action button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  vertical-align: baseline;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
  height: 50px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  gap: 25px;
}

.action button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  vertical-align: baseline;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
  height: 50px;
}

.action button:hover {
  background-color: #6070ff;
  color: #fff;
}

/* ====================================================Finished Works Section================================================== */

/* =============================================Details Popup Window Starts Here=============================================== */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: inline-block;
  position: fixed;
  overflow: auto;
  left: 50%;
  top: 1rem;
  transform: translate(-50%, 0);
  width: 90%;
  height: 95vh;
  border-radius: 16px;
  padding: 25px;
  background-color: #fff;
}

.popup-snapshoot-portfolio {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.popup-snapshoot-portfolio img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
}

.popup-snapshoot-portfolio:hover {
  transform: scale(1.06);
  transition: 0.4s;
}

.popup-client-frame ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #737578;
  background-color: #fff;
}

.popup-client-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  background-color: #fff;
}

.popup-client-frame h3 {
  padding: 0;
  display: inline;
}

.popup-client-frame span {
  padding: 0 16px;
}

.popup-project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 0 15px;
}

.popup-detail-txt {
  font-weight: 400;
  font-size: 18px;
  color: #344563;
  padding: 12px 16px;
}

.popup-tags {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 15px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  gap: 25px;
}

.popup-action button:hover {
  background-color: #6070ff;
  color: #fff;
}

/* =============================================Details Popup Window Ends Here=============================================== */

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 0 100px 0 0;
  padding: 114px 24px;
  margin-top: 275px;
  gap: 24px;
  width: 100%;
  position: relative;
  height: 1125.15px;
}

.about-myself .primary-txt {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-myself .detail-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.skills-list {
  width: 100%;
  height: 464.15px;
}

.skills-list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.lang-list ul {
  gap: 12px;
  padding: 12px;
}

.contact-form ul {
  list-style: none;
  padding: 0;
}

.skills-list .main-frame {
  padding: 12px 12px;
  border-bottom: 1px solid #dfe1e6;
}

.skills-list .frame-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.skills-list .header-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  color: #000;
}

.frame-header .normal-btn {
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin-right: 26px;
  border-radius: 8px;
  border: none;
  background: #fff;
}

.lang-list {
  width: 100%;
}

.lang-list-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
}

.lang-list-frame img {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
}

.lang-list-frame h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.contact {
  background: rgb(58, 74, 219);
  border-radius: 100px 0 0 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../img/contact-mobile-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-attachment: scroll;
}

.contact .content {
  width: 100%;
  height: 100%;
  padding: 82px 24px;
}

.contact .primary-txt {
  padding-bottom: 12px;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.contact .detail-txt {
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  flex-wrap: wrap;
}

.contact-form input {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.contact-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  height: 170px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-form .submit-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(58, 74, 219);
  background-color: #fff;
  align-items: flex-start;
  padding: 12px;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: none;
}

@media screen and (min-width: 748px) {
  .navbar {
    padding: 0 150px;
  }

  .nav-items {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #344563;
  }

  .nav-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
  }

  .nav-items li {
    margin-left: 30px;
  }

  .nav-items a {
    text-decoration: none;
  }

  .nav-items a:hover {
    border-radius: 8px;
    padding: 8px;
    background-color: #6070ff;
    color: white;
  }

  #hamburger-icon {
    display: none;
  }

  .headline {
    width: 100%;
    background: #fff;
    height: 916px;
    border-radius: 0 0 0 100px;
    padding: 10px 8px 10px 35px;
  }

  .headline .content {
    background-image: url("../img/headline-desktop-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    width: 100%;
    height: 100%;
    padding: 250px 100px 0 250px;
  }

  .headline .primary-txt {
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #172b4d;
    align-items: center;
    letter-spacing: 0.37px;
  }

  .headline .detail-txt {
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .social-media {
    padding-top: 10px;
  }

  .social-media-icons path:hover {
    fill: #6070ff;
  }

  .works {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .card-works {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
  }

  .card-works-reverse {
    flex-direction: row-reverse;
  }

  .snapshoot-portfolio {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    padding-right: 6px;
  }

  .left-block {
    padding-left: 6px;
  }

  /* ============================Start of Desktop-Details Popup Window======================= */

  .modal-content {
    padding: 40px 60px;
  }

  .popup-snapshoot-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    border: 3px solid rgb(195, 193, 193);
  }

  .popup-snapshoot-portfolio img {
    width: 80rem;
    height: 40rem;
    border-radius: 50px;
    border: 1px solid rgb(195, 193, 193);
  }

  .popup-snapshoot-portfolio:hover {
    transform: scale(1);
  }

  .popup-description-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 45px 5px;
    align-items: center;
  }

  .popup-project-title {
    padding: 5px 20px;
  }

  /* ============================End of Desktop-Details Popup Window======================= */

  .about-myself {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    padding: 142px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .about-myself .social-media {
    padding: 25px 0;
  }

  .about-myself .social-media-icons {
    padding: 25px 0;
  }

  .about-myself .action {
    padding: 0;
  }

  .main-frame {
    display: flex;
    flex-direction: column;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    width: 100px;
  }

  .lang-list ul {
    display: flex;
    flex-direction: row;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/contact-desktop-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    height: 100%;
    padding: 130px;
  }

  .contact .content {
    width: 100%;
    height: 100%;
  }

  .contact .txt-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 340px;
    width: 100%;
  }

  .contact .contact-form ul {
    display: flex;
    flex-direction: column;
    padding: 0 350px;
    width: 100%;
    justify-content: center;
    align-self: center;
  }

  .contact .submit-btn {
    margin-left: 200px;
  }
}
