* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  background: #f4f5f7;
}

svg {
  margin-right: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}

.logo-placeholder {
  padding: 10px 12px;
}

.logo {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(96, 112, 255);
  margin-left: 10px;
  text-decoration: none;
}

.normal-button {
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  border-radius: 8px;
  border: none;
  background-color: #f4f5f7;
}

.normal-button i {
  color: rgb(96, 112, 255);
  font-size: 18px;
  line-height: 20px;
  margin-right: 15px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  height: 90vh;
  background-image: url("../img/index-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-txt {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #172b4d;
  margin-bottom: 10px;
}

.connect {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.connect-icons ul {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
}

.frame-client-detail li {
  display: inline;
  padding-left: 20px;
}

.connect-icons ul li {
  display: inline;
}

.works {
  position: absolute;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 600px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 16px;
  margin-top: 40px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
}

.left-block .primary-txt {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-top: 20px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-client {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-client-text {
  height: 16px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.frame-client-detail {
  padding-left: 10px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.detail-txt {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 10px;
}

.snapshoot-portfolio {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.bg-1 {
  background: url("../img/snapshoot-protfolio-1.png");
  background-size: cover;
}

.bg-2 {
  background: url("../img/snapshoot-protfolio-2.png");
  background-size: cover;
}

.bg-3 {
  background: url("../img/snapshoot-protfolio-3.png");
  background-size: cover;
}

.bg-4 {
  background: url("../img/snapshoot-protfolio-4.png");
  background-size: cover;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 10px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 10px;
  color: #6070ff;
}

.action button {
  padding: 15px;
  background-color: #fff;
  border: 2px solid #6070ff;
  border-radius: 8px;
  margin-top: 20px;
}

.action button span {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}
