@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
}

.blur   {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  /* -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
}



/* Header section css */
/* .menu_mobile {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  left: 0;
  top: 0;
  padding: 0.9rem 1rem;
  width: 100%;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px rgb(0 0 0 / 20%);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header a {
  text-decoration: none;
}

#logo {
  /* display: flex; */
  font-weight: bold;
  font-size: 18px;
}

#logo a {
  color: rgb(58, 74, 219);
}

header nav {
  display: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
  padding-right: 100px;
}

ul a {
  /* color: rgb(58, 74, 219); */
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  display: block;
  margin: auto 0;
  cursor: pointer;
  z-index: 999;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: #3a4adb;
  margin: 5px 0;
  transition: 0.3s;
}

.open #bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open #bar2 {
  opacity: 0;
}

.open #bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #6070FF;
  mix-blend-mode: normal;
  opacity: 90%;
  position: fixed;
  gap: 25px;
  padding: 70px 0 0 20px;
  z-index: -1;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /* height: calc(100vh - 50px); */
  height: 100%;
  width: 100%;
}

/* .mobile-menu li {
  margin-bottom: 10px;
} */

/* .nav-link {
  display: flex;
  justify-content: space-between;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 19px;
  margin-right: 20px;
  height: calc(100% - 60px);
}

.nav-menu-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;

}

.nav-menu-item {
  list-style: none;
  line-height: 70px;
  font-size: 18px;
  margin: 0 10px;
  
}

.menu_desktop {
  display: none;
} */

h1 {
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  align-items: center;
  line-height: 1.3;
  color: #172b4d;
}

.my-intro {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 19px;
  font-style: normal;
  margin-left: 4px;
}

.logo a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  font-style: normal;
}

.fa.fa-bars::before {
  color: #6070ff;
  text-decoration: none;
  display: block;
}

.home {
  display: inline-block;
  background-image: url("../images/mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment:scroll;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
  margin-top: 3.5rem;
  padding: 6.9rem 1rem;
}

/* Work section css */
.work {
  display: grid;
  grid-template-columns: 1fr;
  gap: 88px;
  padding: 114px 24px;
}

.flex {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  color: #344563;
}

.mobile_image {
  width: 100%;
}

.desktop_image {
  display: none;
}

.desktop-text {
  display: none;
}

li.ruby {
  display: none;
}

h2 {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  line-height: 44px;
  padding-top: 12px;
}

.canopy h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 20px 0;
}

.light {
  color: #7a869a;
}

.second li {
  list-style-type: none;
  display: inline;
  background: #ebebff;
  border-radius: 8px;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  color: #396df2;
}

.see-more,
.resume {
  color: #396df2;
  padding: 0.8rem;
  border: solid #6070ff 1px;
  text-decoration: none;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  border-radius: 8px;
  width: max-content;
  margin: 1rem 0;
  display: inline-block;
}

.list.second {
  margin: 1rem 0;
}

.about {
  display: grid;
  gap: 80px;
  border-top-right-radius: 30px;
  background: #fff;
  padding: 20px;
}

.about-content {
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

.connect-media {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 18px;
  margin-top: -4px;
  margin-left: 10px;
}

.lets-connect-message.connect-margin,
.lets-connect-message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: -12px;
  margin-left: 4px;
  margin-bottom: 20px;
  font-weight: 500;
}

.connect-media-home {
  justify-content: flex-start;
  padding-top: 12px;
  gap: 19px;
  list-style: none;
  color: #6070ff;
  font-size: 16;
  font-weight: 500;
}

.connect-media-home li {
  display: inline;
  margin: 0.5rem;
}

.about-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 24px;
  margin-top: 17px;
}

.languages li {
  list-style: none;
  background-color: rgb(247, 247, 249);
  width: 240px;
  height: 59px;
  border-radius: 8px;
  padding: 29px 7px;
  margin-bottom: 16px;
  margin-left: -25px;
}

.languages img {
  height: 48px;
  margin-left: 10px;
  margin-top: -25px;
  float: left;
  width: 50px;
  margin-right: 20px;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.listItem {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #253858;
}

.about-list.add_padding {
  width: 327px;
  margin-top: -70px;
  margin-bottom: 50px;
}

.listItem img {
  float: right;
}

.home-content h2 {
  color: #fff;
  text-align: center;
}

.contact-intro {
  color: #fff;
}

hr {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 26px;
}

/* Footer css */
.contact_section {
  background: #6070ff;
  background-repeat: no-repeat;
  padding-bottom: 109px;
  border-top-left-radius: 80px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("images/contact-bg-image.png");
  margin: -88px 0 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

input {
  height: 26px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  margin-top: 35px;
}

form input,
textarea {
  border-radius: 8px;
  border: solid 1px #cfd8dc;
  padding: 15px;
  font-size: 1rem;
  height: 48px;
}

textarea {
  height: 170px;
}

.contact-header {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  margin-top: 85px;
  margin-bottom: 6px;
  align-self: center;
}

.contact-message {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  margin: 12px 35px;
}

.submit {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.see-more:hover {
  color: white;
  background-color: #6070ff;
}

.see-more:active {
  color: white;
  background-color: #2230d2;
}

@media screen and (min-width: 768px) {
  /* ---------Header section----------- */
  /* .menu_mobile {
    display: none;
  }

  .mobile-text {
    display: none;
  }

  .desktop-text {
    display: inline;
  } */
  header nav {
    display: flex;
  }

  .logo {
    margin-left: 5%;
  }

  #hamburger-icon {
    display: none;
  }
  
  ul a {
    color: rgb(58, 74, 219);
    font-size: 15px;
    font-weight: 500;
  }

  ul a:hover {
    font-weight: 600;
  }

  /* .menu_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: #fff;
    position: fixed;
    width: 100%;
    height: 71px;
    top: 0;
  }

  .nav_menu {
    list-style: none;
    display: flex;
    margin-right: 180px;
    padding: 10px 12px;
    gap: 30px;
  }

  .nav_menu li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  } */

  /* -------Home section--------- */
  .home {
    background-color: #ffff;
    border-bottom-left-radius: 80px;
    background-image: url("images/headerbg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 77px;
    padding-bottom: 10%;
    margin-bottom: 0;
    height: 916px;
  }

  .home-content {
    padding-top: 16%;
    padding-left: 15%;
    padding-right: 25%;
  }

  .lets-connect-message {
    margin-left: 50px;
  }

  .my-intro-home {
    width: 81%;
    align-self: flex-start;
    margin-left: 54px;
  }

  .connect-media-home {
    margin-left: 13px;
  }

  /* --------Work section---------- */

  .flex {
    display: flex;
    flex-direction: row;
    gap: 80px;
    border-radius: 20px;
    border: 2px solid #ffff;
    margin: 0 5%;
    background-color: #ffff;
  }

  .work {
    margin: 142px 0;
    padding: 0;
  }

  .flex_content {
    margin-top: 30px;
  }

  .mobile_image {
    display: none;
  }

  .desktop_image {
    width: 544px;
    height: 448px;
    display: block;
    transition: all 0.5s ease-in-out;
  }

  .card-info {
    margin-top: 20px;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .canopy-list li {
    margin-top: -2px;
  }

  .second li {
    block-size: fit-content;
    width: fit-content;
  }

  .list.second {
    order: 2;
  }

  /* -----------About section------------ */
  .about {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 50px;
    border-top-right-radius: 80px;
    margin-bottom: 0;
  }

  .about-content {
    width: 40%;
    padding: 2 2%;
  }

  .connect-media {
    padding: 0 9%;
  }

  .about-list {
    width: 60%;
    gap: 12px;
  }

  .languages {
    display: flex;
    flex-direction: row;
    gap: 49px;
  }

  .about-list.add_padding {
    width: 684px;
    height: 360px;
    left: 614px;
    margin-top: 30px;
  }

  .about-content .my-intro {
    width: 100%;
    margin-left: 1px;
    margin-top: -3px;
  }

  .languages li {
    list-style: none;
    background-color: #f7f7f9;
    margin-bottom: 14px;
    width: 98px;
    height: 111px;
    border-radius: 8px;
    padding: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .languages img {
    margin-left: -9px;
    margin-top: -20px;
  }

  .languages h5 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  /* -------------Contact Form------------------ */
  .footer_content {
    width: 38%;
    margin: 0 35%;
    background: none;
  }

  form input,
  textarea {
    border-radius: 0;
  }

  #textarea {
    height: 200px;
  }

  .submit {
    align-self: center;
  }

  .contact_section {
    background-image: url(images/contact_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about .lets-connect-message {
    margin-left: 5px;
  }

  .about .connect-media {
    margin-left: -45px;
  }

  .desktop-image {
    transition: all 0.5s ease-out;
  }

  .home-content h1 {
    animation: heading 3s linear;
    position: relative;
  }

  @keyframes heading {
    from {
      left: 0;
    }

    to {
      left: 100%;
    }
  }
}
